{% extends 'users.html.twig' %}

{% block title %}Profil de
	{{ app.user.getLastName() }}
	{{ app.user.getName }}
{% endblock %}

{% block body %}

	<div class="grix xs4 container">
		{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}

		<div class="col-xs4">
			<h1>Profil de
				{{ app.user.getLastName() }}
				{{ app.user.getName }}</h1>
		</div>
		<div class="col-xs1">Nom :</div>
		<div class="col-xs3">{{ app.user.getLastName() }}</div>
		<div class="col-xs1">Prénom :</div>
		<div class="col-xs3">{{ app.user.getName() }}</div>
		<div class="col-xs1">Email :</div>
		<div class="col-xs3">{{ app.user.getEmail() }}</div>
		<div class="col-xs1">Telephone :</div>
		<div class="col-xs3">{{ app.user.getPhone() }}</div>
		<div class="col-xs1">Adresse :</div>
		<div class="col-xs3">{{ app.user.getAddress() }}</div>
		<div class="col-xs1">Ville :</div>
		<div class="col-xs3">{{ app.user.getCity() }}</div>
		<div class="col-xs1">Code postal :</div>
		<div class="col-xs3">{{ app.user.getZipCode() }}</div>

		<div class="col-xs4">
			<a href="{{path('users_profil_edit')}}" class="btn blue d-inline-block">Modifier le profil</a>
			<a href="{{path('users_pass_edit')}}" class="btn blue d-inline-block">Modifier le mot de passe</a>
		</div>

	</div>
{% endblock %}
